<div class="d-flex justify-content-end">
  <button class="btn btn-outline-primary btn-sm mb-2" (click)="onAdd()">
    Add Employee
  </button>
</div>

<p *ngIf="employees.length === 0" class="fw-bold text-center">
  No employees available
</p>

<ul class="list-group gap-2">
  <li
    class="list-group-item d-flex justify-content-between align-items-center p-3"
    *ngFor="let employee of employees; let i = index"
  >
    <div>
      <h6 class="m-0">{{ employee.name }}</h6>
      <p class="m-0 fst-style">{{ employee.department }}</p>
    </div>

    <div class="d-flex gap-1">
      <button class="btn btn-success btn-sm" (click)="onView(i)">
        View Full Details
      </button>
      <button class="btn btn-warning btn-sm" (click)="onEdit(i)">Edit</button>
      <button class="btn btn-danger btn-sm" (click)="onDelete(i)">
        Delete
      </button>
    </div>
  </li>
</ul>
