<div class="container-fluid wrapper">
  <div class="row main">
    <div class="col-3 shadow">
      <ul class="list-group gap-2 p-4">
        <li
          class="list-group-item"
          routerLink="todos"
          routerLinkActive="active"
        >
          Todo List
        </li>
        <li
          class="list-group-item"
          routerLink="employee-management"
          routerLinkActive="active"
        >
          Employee Management
        </li>
      </ul>
    </div>
    <div class="col-9 p-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
